<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/style.css" />
  
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container" >
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"> </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-controls="navbarColor02" aria-expanded="false"  aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="navbarColor02" class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("USER"))
                            {
                                <li>
                                    <p class="nav navbar-text navbar-right">AUTH: USER&nbsp;</p>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <p class="nav navbar-text navbar-right">AUTH: ADMIN&nbsp;</p>
                                </li>
                            }
                            <li>
                                  <p class="nav navbar-text">Hello, @User.Identity.Name!</p>
                            </li>
                            if (User.IsInRole("ADMIN"))
                            {
                                <li>
                                <a class="nav-link" asp-area="" asp-controller="Ticket" asp-action="MyTicketsAdmin">All Tickets</a>
                                </li><li>
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="AllUsersAdmin">All Users</a>
                                </li>

                        }
                        <li>
                        <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                        </li>
                        }
                        else
                        {
                            <li>
                            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                            </li>
                            <li>
                            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Ticket" asp-action="SearchTicket">Search Tickets</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Ticket" asp-action="CreateTicket">Create New Tickets</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Ticket" asp-action="MyTickets">My Tickets</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container" id="mainBody" >
        <main role="main" id="mainBody" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Ticketing System 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
