@using System.Data
@using System.Net
@using Newtonsoft.Json.Linq
@using Ticketing_System.Controllers
@model Ticketing_System.Models.ErrorViewModel
@{
    ViewData["Title"] = "All Tickets Page";
}
<h4>All Tickets</h4>
<p>@TempData["update"]</p>
<p>@ViewData["id"]</p>
<hr />
<div class="row">
    <div class="col-md-4">

        @Html.Raw(@WebUtility.HtmlDecode(ViewData["data"].ToString()))
    </div>
</div>

<div>
    <a class="btn btn-primary ripple-surface" style="min-width: 95px;" asp-action="MyTicketsAdmin">Refresh</a>
</div>

<script src="~/js/tableAdminButton.js" asp-append-version="true"></script>