@using System.Net
@model Ticketing_System.Models.ErrorViewModel
@{
    ViewData["Title"] = "Process Ticket Page";
}

<h4>Ticket Details</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @Html.Raw(@WebUtility.HtmlDecode(ViewData["data"].ToString()))
    </div>
</div>

<div>
    <a asp-action="SearchTicket">Back to Search</a>
</div>
